# Code formatting
black==19.10b0
isort==4.3.21

# Code linting
flake8==3.7.9
flake8-blind-except==0.1.1
flake8-bugbear==20.1.4
flake8-builtins==1.5.2
flake8-comprehensions==3.2.2
flake8-debugger==3.2.1
flake8-docstrings==1.5.0
flake8-isort==2.9.1
flake8-quotes==3.0.0
flake8-string-format==0.3.0

# Tests
tox==3.14.6
